In [1]:
import sys
sys.path.append('../harmonizome')

import pandas as pd
import numpy as np
import utility_functions as uf
import timeit
import itertools

In [2]:
%load_ext autoreload
%autoreload 2

### removeAndInpute

In [3]:
df = pd.DataFrame(data=np.random.randint(10,size=(5, 10)))
df = df.mask(np.random.random(df.shape) < .1)
df.head()

   0    1    2    3    4    5    6  7  8  9
0  4  5.0  8.0  0.0  NaN  7.0  6.0  4  1  7
1  4  NaN  NaN  8.0  1.0  6.0  NaN  4  7  3
2  5  9.0  7.0  NaN  3.0  1.0  3.0  4  0  6
3  4  1.0  NaN  NaN  0.0  5.0  1.0  0  7  8
4  6  7.0  3.0  4.0  5.0  NaN  1.0  5  2  1

In [17]:
df.shape

(5, 10)

## makeBinaryMatrix

In [8]:
df = pd.DataFrame(data=np.random.randint(10,size=(25, 2)), columns=['Gene Symbol', 'Attributes'])
df = df.set_index('Gene Symbol')
df.head()

             Attributes
Gene Symbol
4                     0
1                     6
2                     2
2                     4
1                     7

In [9]:
uf.createBinaryMatrix(df)

Attributes       0      1      2      3      4      5      6      7      9
Gene Symbol
0            False  False  False  False  False   True  False   True  False
1            False  False  False  False  False  False   True   True  False
2            False  False   True   True   True  False   True  False  False
3            False  False   True  False   True  False  False  False  False
4             True  False  False  False  False  False  False   True   True
5            False   True  False  False  False  False  False  False  False
6            False  False  False  False  False   True   True  False  False
7            False   True  False  False  False  False  False   True  False
8            False  False   True  False  False  False  False   True  False
9             True  False  False  False  False  False   True  False  False